@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);

  --color-romantic-50: #fff1f5;
  --color-romantic-100: #ffd6e0;
  --color-romantic-200: #ff8fab;
  --color-romantic-300: #ff4d6d;
  --color-romantic-400: #fb385b;
  --color-romantic-500: #e11d48;
  --color-romantic-600: #be123c;
  --color-romantic-900: #7a1f3d;
}

:root {
  --background: #fff1f5;
  /* Premium light pink */
  --foreground: #7a1f3d;
  /* Deep rich wine */
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}